@import "~bootstrap/dist/css/bootstrap.min.css";
.reverse {
  transform: rotate(180deg);
}

.symbol {
  font-size: 100px;
  padding-left: 15px;
  padding-top: 10px;
}

.number {
  font-size: 150px;
}

.carta {
  border-radius: 25px;
  width: 350px;
}
